In [7]:
lst = [1,"This is a list", "c", "kong"]

In [8]:
print(A)

[1, 'This is a list', 'c', 'kong']

In [9]:
lst.append("apple")

In [10]:
lst

[1, 'This is a list', 'c', 'kong', 'apple']

In [11]:
lst2 = ["gonzo", "journalism"]

In [12]:
lst.extend(lst2)

In [13]:
lst

[1, 'This is a list', 'c', 'kong', 'apple', 'gonzo', 'journalism']

In [14]:
lst.insert(2, "cars")

In [15]:
lst

[1, 'This is a list', 'cars', 'c', 'kong', 'apple', 'gonzo', 'journalism']

In [16]:
lst.remove('kong')

In [17]:
lst

[1, 'This is a list', 'cars', 'c', 'apple', 'gonzo', 'journalism']

In [19]:
lst.insert(5,'cars')

In [20]:
lst

[1, 'This is a list', 'cars', 'c', 'apple', 'cars', 'gonzo', 'journalism']

In [21]:
lst.remove('cars')

In [22]:
lst

[1, 'This is a list', 'c', 'apple', 'cars', 'gonzo', 'journalism']

In [23]:
a = [66.25, 333, 333, 1, 1234.5]

In [24]:
a.count(333)

2

In [25]:
a.count(66.25)

1

In [27]:
a.count('x')

0

In [28]:
print(a.count(333), a.count(66.25), a.count('x'))

2 1 0

In [29]:
a.index(333)

1

In [30]:
a.reverse()

In [31]:
a

[1234.5, 1, 333, 333, 66.25]

In [32]:
a.sort()

In [33]:
a

[1, 66.25, 333, 333, 1234.5]

In [34]:
del a[0]

In [35]:
a

[66.25, 333, 333, 1234.5]

In [37]:
del a[2:4]

In [38]:
a

[66.25, 333]

In [39]:
del a[:]

In [40]:
a

[]

In [45]:
basket = ["apple", "orange", "apple", "pear"]

In [46]:
Fruit = set(basket)

In [47]:
Fruit # duplicates are removed
#

{'apple', 'orange', 'pear'}

In [48]:
tel = {'one':1, "two":2}

In [49]:
tel["three"] = 3

In [50]:
tel

{'one': 1, 'three': 3, 'two': 2}

In [51]:
tel['one']

1

In [52]:
del tel['two']

In [54]:
tel

{'one': 1, 'three': 3}

In [55]:
tel['four'] = 4

In [56]:
tel

{'four': 4, 'one': 1, 'three': 3}

In [57]:
tel.keys()

dict_keys(['three', 'one', 'four'])

In [58]:
tel.values()

dict_values([3, 1, 4])

In [59]:
'three' in tel

True

In [60]:
knights = {'one':'two','three':'six','seven':'fourteen'}

In [62]:
for k, v in knights.items():
    print(k, v)

three six
seven fourteen
one two

In [63]:
for i,v in enumerate(['tic', 'tac','toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [64]:
q = ['one', 'two', 'three']

In [65]:
a = ['two', 'four', 'six']

In [66]:
for q,a in zip(q, a):
    print('what is your {0} It is {1}'.format(q,a))

what is your one It is two
what is your two It is four
what is your three It is six

In [67]:
def cube(x): return x*x*x

In [70]:
map(cube, range(1,11))

In [69]:
range(1,11)

range(1, 11)